<%- include header %>
<% posts.forEach(function(post, index){ %>
<div class="widget_body">
    <div class="row-fluid">
        <h3><a href="/u/<%= post.userName %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h3>
    </div>
    <div class="row-fluid">
        作者：<a class="label label-success" href="/u/<%= post.userName %>"><%= post.userName %></a> |
        日期：<%= post.time.minute %> |
        标签：
        <% post.tags.forEach(function(tag, index){ %>
        <% if(tag.tag){ %><a class="label label-success" href="/tags/<%= tag.tag %>"><%= tag.tag %></a><% } %>
        <% }) %>|
        <a href="/u/<%= post.userName %>/<%= post.time.day %>/<%= post.title %>">评论(<%= post.comments.length %>)</a> |
        <a href="#">阅读(<%= post.pv %>)</a>
    </div>
    <hr/>
    <div class="row-fluid"><div class="span12 articles"> <%- post.post %></div></div>

</div>
<br/>
<% }) %>
<%- include paging %>
<%- include right %>
<%- include footer %>