<%- include header %>
<div class="widget_body">
    <ul class="unstyled tags">
        <% var lastYear=0 %>
        <% posts.forEach(function(post, index){ %>
        <% if(lastYear!=post.time.year){ %>
        <li><h3><%= post.time.year %></h3></li>
        <% lastYear=post.time.year } %>
        <li>
            <time><%= post.time.day %></time>
        </li>
        <li><a href="/u/<%= post.userName %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
        <% }) %>
    </ul>
</div>

<%- include right %>
<%- include footer %>